
/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Header Styles */
header {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 24px;
  color: #333333;
}

/* Navigation Styles */
nav {
  margin-top: 20px;
}

/*navbar*/
.nabar {
  background-color: #202020;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.nav-links a:hover {
  color: #6bd4e7;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 45px;
}

.brand-text {
  font-size: 22px;
  color: #ffffff;
  margin-right: 10px;
}

.highlight-text {
  font-size: 22px;
  color: #08adc0;
}

@media only screen and (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0;
    padding-right: 10px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .navbar-brand {
    margin-left: 15px;
  }
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100vh;
  padding: 20px;

}

.about h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}


/* Form Login */
.login-container {
  height: 100vh;
  margin-top: 100px;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #23527c;
}

/* Register Form */
.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-form h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.register-form label {
  font-weight: bold;
}

.register-form input[type="text"],
.register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #23527c;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form p {
  margin-top: 20px;
  text-align: center;
}

.register-form p a {
  color: #6bd4e7;
  text-decoration: none;
}

.register-form p a:hover {
  text-decoration: underline;
}

.error-message {
  color: #ff0000;
  margin-bottom: 10px;
}

/* Logout Confirmation */
.logout-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 9999; /* Menempatkan elemen di atas konten lain */
}

.logout-confirmation h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.logout-confirmation button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #eeeeee;
  border: none;
  cursor: pointer;
}

.logout-confirmation button:hover {
  background-color: #dddddd;
}


