.app {
  background-image: url('./assets/images/gambar4.jpg');
  /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  /* tambahkan gaya lainnya sesuai kebutuhan */
}